  <div class="">
    <%- include('../../clinical-workup/chief-complaints'); -%>
    <hr>
    <%- include('../../clinical-workup/history'); -%>
    <hr>
    <%- include('../../clinical-workup/visions'); -%>
    <hr>
    <%- include("../../clinical-workup/PGP"); -%>
    <hr>
    <%- include("../../clinical-workup/retinoscopy"); -%>
    <hr>
    <%- include("../../clinical-workup/ocular-motility"); -%>
    <hr>
    <%- include("../../clinical-workup/slit-lamp-exmn"); -%>
    <hr>
    <%- include("../../clinical-workup/intraocular-pressure"); -%>
    <hr>
    <%- include("../../clinical-workup/gonioscopy"); -%>
    <hr>
    <%- include("../../clinical-workup/fundus"); -%>
    <hr>
    <%- include("../../clinical-workup/investigation"); -%>
    <hr>
    <%- include("../../clinical-workup/diagnosis"); -%>
    <hr>
  </div>
